@page
@model PerfumesShop.Pages.Vandute.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Parfumuri vandute</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vandut[0].Utilizator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vandut[0].Parfum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vandut[0].Parfum.Tip)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Vandut) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Utilizator.NCompl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parfum.Denumire)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Parfum.Tip.Type)
                </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
